In [ ]:
from transformers import AutoTokenizer

In [3]:
tokenizer = AutoTokenizer.from_pretrained("gpt2")

tokenizer_config.json:   0%|          | 0.00/26.0 [00:00<?, ?B/s]

config.json:   0%|          | 0.00/665 [00:00<?, ?B/s]

vocab.json:   0%|          | 0.00/1.04M [00:00<?, ?B/s]

merges.txt:   0%|          | 0.00/456k [00:00<?, ?B/s]

tokenizer.json:   0%|          | 0.00/1.36M [00:00<?, ?B/s]

In [15]:
import numpy as np

In [37]:
tokenized = np.load('data/tokenized.npy', allow_pickle=True)  # Example shape

In [38]:
tokenized

array([array([ 7454,  2402,   257,   640,   612,   373,   257,  1310,  2933,
               3706,  3932,    13,  3932,  6151,   284,  7301,   262,   995,
               1088,   683,    13,   679,  2497,   867,  4998,  1243,    11,
                588,  4950,   410,  1386,   326,   547,   319,  3359,   287,
                257,  3650,    13,  1881,  1110,    11,  3932,   373,  6155,
                832,   262,  3650,   618,   339,  1625,  1973,   257,   845,
               2041,   410,   589,    13,  1649,  3932,  2497,   340,   339,
                373, 24562,     0,   198,  1544,   531,    11,   564,   250,
              22017,    11,   326,   318,   257,  1107,  4998,   410,   589,
                  0,  1680,   314,  2822,   340,    30,   447,   251,   198,
                464,  6128, 13884, 13541,   290,   531,    11,   564,   250,
               5189,  1781,   345,   460,    13,   921,   460,  1011,   340,
               1363,   290,   905,   477,   534,  2460,   703,  4998,   340,
                318,     0,   447,   251,   198,  2396,  3932,  1718,   262,
                410,   589,  1363,   290,   339,   373,   523,  6613,   286,
                340,     0,   679,  1444,   465,  2460,   625,   290,  3751,
                606,   262,  4998,   410,   589,    13,  1439,   465,  2460,
               1807,   262,   410,   589,   373,  4950,   290,  3521,   470,
               1975,   703,  9670,  3932,   373,    13,   198,  1870,   326,
                338,   703,  3932,  1043,   281,  4998,   410,   589,   287,
                262,  3650,     0], dtype=uint16)                           ,
       array([ 7454,  2402,   257,   640,    11,   612,   373,   257,  9314,
              30972,   353,  3706,   440,   297,   494,    13,   679,  5615,
                287,   257,  7850,   351,   465,  1641,    13,  1119,   477,
               6151,   284,   711,   290,  9422,  1978,    13,   198,  3198,
               1110,    11,   440,   297,   494,   338,  1995,   531,    11,
                366,    46,   297,   494,    11, 23290,   290,   651,   617,
               5916,   329,  8073,  2474,   440,   297,   494,  1509,   321,
               3049,   284,  4929,  5916,    13,   679,  2497,   465,  1545,
                 11,   262, 22045,    13,   366, 17250,    11,   440,   297,
                494,  2474,   531,   262, 22045,    13,   366, 17250,    11,
              22045,  2474,   531,   440,   297,   494,    13,   366,    40,
                761,   284, 23290,   290,  4929,  5916,   329,   616,  1641,
                526,   198,  3633,   440,   297,   494,   373, 16508,  5916,
                 11,   339,  1043,   257,  1263, 22441,  7815,    13,   679,
               1807,    11,   366,  1212,   318,   407,   257,  5916,    11,
                475,   340,   318,   523,  2495,  2474,   440,   297,   494,
               1718,   262, 22441,  7815,  1363,   284,   905,   465,  1641,
                 13,  1119,   477,  3114,   379,   262, 22441,  7815,   290,
              13541,    13,   383, 22441,  7815,   925,  2506,  3772,    11,
                290,   484, 16453,   546,   262,  5916,   329,  8073,    13],
             dtype=uint16)                                                   ,
       array([ 3198,  1110,    11,   257,  1310,  2933,  3706,  5045,  1816,
                284,   262,  3952,    13,   679,  2497,   257,  1263, 26241,
                 13,   383, 26241,   373,   407,  1612,    11,   475,   845,
               2562,   284,   711,   351,    13,  5045,   290,   262, 26241,
               2826,   477,  1110,    13,  1119,   550,  6041,   286,  1257,
                 13,   198,  6423,    11,  1223, 10059,  3022,    13,   383,
              26241,  2067,   284, 13279,    13,  5045,   373, 12008,    13,
                679,   750,   407,   760,   644,   373,  1016,   319,    13,
                887,   788,    11,   262, 26241,  2900,   656,   257,  3621,
               3290,    13,  5045,   373,   845,  6655,    13,   198, 14967,
                290,   262,  3290,  2826,  1978,   783,    13,  1119,   547,
                845,  3772,    13,   383,  3290,   373,  2562,   284,   711,
                351,  1165,    13,  1629,   262,   886,   286,   262,  1110,
                 11,  5045,  1816,  1363,   351,   465,   649,  1545,    13],
             dtype=uint16)                                                   ,
       array([ 7454,  2402,   257,   640,   612,   373,   257,  8030,  1310,
               2933,  1444,  5811,    13,  5811,  6151,   284,  2298, 12734,
                290,   804,   329, 10087,    13,  1881,  1110,   339,  3066,
                284,   467,  2354,   351,   465,  2460,   284,  2298,   617,
                517, 12734,    13,   198,  1544,  6451,  6810,  1223,  7650,
                319,   262,  2323,    13,   632,   373,   257,  1263,    11,
               4077, 15683,     0,   632,   373,   523,  1263,    11,  5811,
                550,  1239,  1775,   530,   878,    13,  5811, 43211, 23831,
                287,   284,  1011,   257,  1365,   804,    13,   679,  1297,
                465,  2460,    25,   366,  5460,  2506,    11,   314,  6497,
                510,   428,  1263, 15683,     0,  1867,   466,   356,   466,
                351,   340,  1701,   198,  6653,  2460,   547,   845,  6568,
                 13,  1119,  1297,   683,   284,  2298,   340,   510,   290,
               1011,   340,  1363,   284,   905,   465,  1641,    13,  1406,
               5811,  7773,  6497,   510,   262,  8030, 15683,   290,  5281,
                340,   736,  1363,    13,  1649,   339,  5284,    11,  5811,
              18177,  3751,   262, 15683,   284,   465,  1641,    13,  2399,
               9955,   373, 24562,   290, 41130,  5811,   284,   905,   465,
              19163,    13,   198,  4863,   326,  1110,   319,  5811,  1464,
               4030,   262,  1263,    11,  8030, 15683,   351,   683,   355,
                257, 15438,   326,  2041,  1243,   460,   307,  1043,  6609,
                 13], dtype=uint16)                                         ,
       array([ 7454,  2402,   257,   640,    11,   287,   257,  1402,  2156,
                 11,   612,  5615,   257,  1310,  2576,  3706, 22162,    13,
              22162,  6151,   262,  3124, 10912,    13,  1375,   550,   281,
              10912,  6576,    11,   281, 10912,  2613,    11,   290,   772,
                281, 10912,  3797,    13,  1881,  1110,    11, 22162,  1138,
                257,   649,  1545,    13,   770,  1545,   373,   407,   588,
                584,  2460,    13,   632,   373,   257,  4437,    13,   383,
               4437,   373,   845,  3621,   290,  8288,   284,   711,   351,
              22162,    13,   198,  3198,  1110,    11, 22162,   290,   262,
               4437,   547,  2712,   351,   607, 10912,  2613,    13,  1119,
                547,  1719,   523,   881,  1257,    13,  3244,    11, 22162,
                338,  1995,  1444,   607,   329,  8073,    13, 22162,   531,
                284,   262,  4437,    11,   366,    40,   423,   284,   467,
               4483,   783,    13,  2561,   345,   711,   351,   502,  1568,
               1701,   383,  4437, 14464,   290, 13541,    13,   198,  2953,
               8073,    11, 22162,  1297,   607,  1995,   546,   262,  4437,
                 13,   887,   607,  1995,   750,   407,  1975,   607,    13,
               1375,   531,    11,   366,    50,  4063,   896,   389,   407,
               1103,    11, 22162,    13,   921,   423,   257,  1263, 13843,
                526, 22162,  2936,  6507,   326,   607,  1995,   750,   407,
               1975,   607,    13,  2293,  8073,    11,   673,  1816,   736,
                284,   711,   351,   262,  4437,    13,  1119,  2826,   351,
                262, 10912,  2613,   290,   550,  6041,   286,  1257,    13,
              22162,  2993,   326,   772,   611,  1854,  8856,   607,  1545,
                 11,   262,  4437,   373,  1103,   290,   484,   714,   711,
               1978,    13], dtype=uint16)                                  ],
      dtype=object)

In [39]:
tokenizer.decode(tokenized[0])

"Once upon a time there was a little boy named Ben. Ben loved to explore the world around him. He saw many amazing things, like beautiful vases that were on display in a store. One day, Ben was walking through the store when he came across a very special vase. When Ben saw it he was amazed!\nHe said, “Wow, that is a really amazing vase! Can I buy it?”\nThe shopkeeper smiled and said, “Of course you can. You can take it home and show all your friends how amazing it is!”\nSo Ben took the vase home and he was so proud of it! He called his friends over and showed them the amazing vase. All his friends thought the vase was beautiful and couldn't believe how lucky Ben was.\nAnd that's how Ben found an amazing vase in the store!"